<style>
    :root {
        --primary-color: {settings.restaurant.colors.brandColor};
        --secondary-color: {settings.restaurant.colors.secondaryColor};
        --tertiary-color: {settings.restaurant.colors.thirdColor};
    }
</style>

<f:cObject typoscriptObjectPath="lib.alertRenderer"/>
<f:render section="Header" />
<f:render section="Content" />
<f:render section="Footer" />


<h2 style="color: var(--primary-color) ;">Hello</h2>
<h2 style="color: var(--secondary-color) ;">Hello</h2>
<h2 style="color: var(--tertiary-color) ;">Hello</h2>