<f:layout name="DefaultNoContainer"/>
<f:section name="Main">
	<div class="googleMapsWrapper position-relative">
		<div class="embed-responsive embed-responsive-googleMaps">
			<iframe data-block-src="{data.source_url}"
					class="embed-responsive-item map"
					title="Google Maps"
					allowfullscreen=""
					style="display: none;"></iframe>

			<div class="embed-responsive-item googleMapsHintBox justify-content-center align-content-center flex-column">
				<div class="container">
					<div class="row text-center">
						<div class="col-12">
							<i class="bi bi-map"></i>
							<p class="mt-3">
								Zum Aktivieren der eingebetteten Karte bitte auf den Link klicken und Marketing Cookies akzeptieren. Durch das Aktivieren werden Daten an den jeweiligen Anbieter übermittelt. Weitere Informationen können unserer Datenschutzerklärung entnommen werden.
							</p>
							<button class="btn btn-outline-light showGoogleMap" aria-label="Senden">
								Zeige Inhalt
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>
