<f:layout name="DefaultNoHeader"/>
<f:section name="Main">
    <div class="heroSection">
        <f:render partial="Media/Rendering/Image"
                  arguments="{file: files.0, data: data, settings: settings, variants: variants}"/>

        <div class="heroContent">
            <div class="textBox text-center px-5 py-5">
                <div class="mb-5">
                    <f:render section="Header" optional="true">
                        <f:render partial="Header/All" arguments="{_all}"/>
                    </f:render>
                </div>

                <f:if condition="{data.cta_link1} && {data.cta_label1}">
                    <f:link.typolink parameter="{data.cta_link1}" class="btn btn-primary">
                        {data.cta_label1}
                    </f:link.typolink>
                </f:if>

                <f:if condition="{data.cta_link2} && {data.cta_label2}">
                    <f:link.typolink parameter="{data.cta_link2}" class="btn btn-primary ms-2">
                        {data.cta_label2}
                    </f:link.typolink>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
