<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <div class="teaser">
        <f:if condition="{data.imageorient} == 1">
            <f:then>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 d-flex justify-content-end">
                        <div>
                            <f:render section="text" arguments="{_all}"/>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <f:render section="image" arguments="{_all}"/>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <f:render section="image" arguments="{_all}"/>
                    </div>

                    <div class="col-12 col-md-6">
                        <f:render section="text" arguments="{_all}"/>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="image">
    <div class="imageBox">
        <f:render partial="media/Gallery" arguments="{_all}"/>
    </div>
</f:section>

<f:section name="text">
    <f:format.html>{data.bodytext}</f:format.html>
</f:section>
