<header id="header" class="header fixed-top align-items-center">
    <div class="container align-items-center justify-content-between headerFlex">
        <nav class="navbar navbar-expand-lg">
            <div>
                <a class="logo align-items-center me-auto me-lg-0" href="#"><f:image src="EXT:restaurant/Resources/Public/Images/restaurant-icon-placeholder.svg" alt="Restaurant Icon" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <f:render partial="MainNavigation" arguments="{mainNavigation: mainNavigation}" />
                <f:render partial="LanguageNavigation" arguments="{languageNavigation: languageNavigation}" />
                <button class="btn callUs">
                    Call us
                </button>
            </div>
        </nav>

    </div>
</header>

