<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
        Language
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageSwitcher">
        <f:for each="{languageNavigation}" as="item">
            <f:if condition="{item.available}">
                <f:then>
                    <li>
                        <a class="dropdown-item {f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}" href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">{item.navigationTitle}</a>
                    </li>
                </f:then>
                <f:else>
                    <span>{item.navigationTitle}</span>
                </f:else>
            </f:if>
        </f:for>
    </ul>
</div>