header {
  .navbar-brand{
    img {
      width: 94px;
      height: 94px;
    }
  }
  // main nav
  nav.mainNavigation {
    .navbar-nav {
      .nav-item {
        .nav-link {
           &:focus {
             @include focus-style;
           }
        }
      }
    }
  }

  // lang nav
  nav.languageNavigation {
    .flag {
      width: 19px;
      height: 19px;
    }
  }
}