// basic colors
$primary: #880000 !default;
$black: #000;
$white: #fff;

// focus settings
$focusOutlineWith: 3px;
$focusOutlineOffset: 4px;
$focusOutlineDarkColor: $black;
$focusOutlineLightColor: $white;
$focusOutlineStyle: dotted;