footer {
  a {
    color: $white;


  }
  .footerTop {
    background: $black;
    color: $white;
  }

  .footerBottom {
    background: $primary;
    color: $white;
  }

  .socialMediaLinks {
    .socialMediaItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $white;
      font-size: 16px;
      color: $white;
      margin-right: 10px;

      &:hover {
        color: $black;
        background: $white;
        transition: 0.3s;
      }
    }
  }
}