html {
  body{
    background-color:red;
    color: var(--color-default);
    .header {
      background: #fff;
      transition: all 0.5s;
      z-index: 997;
      height: 90px;
      border-bottom: 1px solid #fff;
      font-family: Inter, sans-serif;
      div {
        div.collapse {
          ul.navbar-nav {
            padding-left: 50px;
            li.nav-item {
              font-weight: 600;
              padding-left: 10px;
              padding-right: 10px;
              .nav-link {
                border-bottom: 3px solid transparent;
                &:hover {
                  border-bottom: 3px solid grey;
                }
                &:focus {
                  border: 1px solid grey;
                  border-radius: 2px;
                }
              }
            }
          }
        }
      }
    }

  }
}
