@font-face {
  font-family: 'foo';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  // src: url('../Fonts/Website/foo.woff') format('woff'),
  // url('../Fonts/Website/foo.woff2') format('woff2');
}